---
import { getCollection, render, type CollectionEntry } from "astro:content"
import { formatPostDate } from "@lib/blog"

export async function getStaticPaths() {
  const posts = await getCollection("blog")

  return posts.map(post => ({
    params: {
      date: formatPostDate(post.data.created_at),
      slug: post.data.slug,
    },
    props: { post },
  }))
}

interface Props {
  post: CollectionEntry<"blog">
}

const { post } = Astro.props
const { Content } = await render(post)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{post.data.title}</title>
  </head>
  <body>
    <h1>{post.data.title}</h1>
    <Content />
  </body>
</html>
